In [1]:
import pandas as pd

#Loading the dataset
df = pd.read_csv('../house_details_data.csv')

#displaying few data from the loaded dataset file
df.head()

,ID,Location,Property Type,Bedrooms,Bathrooms,Square Footage,Year Built,Lot Size (sqft),Garage Spaces,Proximity to City Center (miles),Crime Rate (per 1000 people),School Rating (out of 10),Public Transport Score (out of 10),Nearby Amenities Score (out of 10),Price (USD)
0,311,Boston,Duplex,4.0,3.0,3437,1958.0,5856,0.0,23.70,10.27,NaN,2.0,5.0,191899
1,391,Austin,Condo,NaN,2.0,2367,1963.0,6844,2.0,13.45,22.56,6.0,NaN,10.0,656305
2,7,Austin,Duplex,1.0,1.0,3673,1998.0,7343,NaN,27.16,33.08,7.0,10.0,7.0,1881530
3,185,Los Angeles,Apartment,3.0,2.0,4902,1958.0,9610,NaN,2.68,35.63,2.0,6.0,5.0,1707386
4,79,Miami,Condo,1.0,3.0,3952,1972.0,6373,1.0,19.15,23.99,2.0,NaN,4.0,1680649

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  525 non-null    int64
 1   Location                            490 non-null    object
 2   Property Type                       439 non-null    object
 3   Bedrooms                            431 non-null    float64
 4   Bathrooms                           384 non-null    float64
 5   Square Footage                      525 non-null    int64
 6   Year Built                          517 non-null    float64
 7   Lot Size (sqft)                     525 non-null    int64
 8   Garage Spaces                       381 non-null    float64
 9   Proximity to City Center (miles)    525 non-null    float64
 10  Crime Rate (per 1000 people)        525 non-null    float64
 11  School Rating (out of 10)           492 non-null    float64
 12  Public Transport Score (out of 10)  487 non-null    float64
 13  Nearby Amenities Score (out of 10)  460 non-null    float64
 14  Price (USD)                         525 non-null    int64
dtypes: float64(9), int64(4), object(2)
memory usage: 61.7+ KB

In [3]:
df.isnull().sum()

ID                                      0
Location                               35
Property Type                          86
Bedrooms                               94
Bathrooms                             141
Square Footage                          0
Year Built                              8
Lot Size (sqft)                         0
Garage Spaces                         144
Proximity to City Center (miles)        0
Crime Rate (per 1000 people)            0
School Rating (out of 10)              33
Public Transport Score (out of 10)     38
Nearby Amenities Score (out of 10)     65
Price (USD)                             0
dtype: int64

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  525 non-null    int64
 1   Location                            490 non-null    object
 2   Property Type                       439 non-null    object
 3   Bedrooms                            431 non-null    float64
 4   Bathrooms                           384 non-null    float64
 5   Square Footage                      525 non-null    int64
 6   Year Built                          517 non-null    float64
 7   Lot Size (sqft)                     525 non-null    int64
 8   Garage Spaces                       381 non-null    float64
 9   Proximity to City Center (miles)    525 non-null    float64
 10  Crime Rate (per 1000 people)        525 non-null    float64
 11  School Rating (out of 10)           492 non-null    float64
 12  Public Transport Score (out of 10)  487 non-null    float64
 13  Nearby Amenities Score (out of 10)  460 non-null    float64
 14  Price (USD)                         525 non-null    int64
dtypes: float64(9), int64(4), object(2)
memory usage: 61.7+ KB
None